<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= pageTitle %></h1>
    <p></p>
    <!-- <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-nodejs"><span class="glyphicon glyphicon-flash"></span> Getting Started on Heroku with Node.js</a> -->
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/ruben-xe/cse341-node"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

</body>
</html>
